@media (max-width: 991px) {

    #sidebar {
        margin-top: 50px;
    }

    #sidebar .sidebar {
        padding: 0;
        border: none;
        margin: 0;
    }

    .post-widget-img {
        width: 12%;
    }

    .post-widget h4 {
        width: 88%;
    }

    #footer-widgets {
        max-width: 500px;
        margin: auto;
        text-align: center;
    }

    #footer .column {
        margin-bottom: 42px;
    }

}

@media (max-width: 767px) {
    .header-content {
        padding: 72px 0;
    }

    .header-heading {
        font-size: 52px;
    }

    .header-heading span {
        font-size: 42px;
    }

    .col-right {
        order: unset;
    }

    .thumbnail-right,
    #footer .column:last-child {
        margin: 0;
    }

    .page-content {
        padding: 40px 0;
    }

    .page-content .header-heading {
        font-size: 48px;
    }

    .blog-article .col-content {
        padding: 30px;
    }

}

@media (max-width: 576px) {

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .container {
        padding: 0 15px;
    }

    .row {
        margin: 0 -15px;
    }

    .column {
        padding: 0 15px;
    }

    .navbar-logo {
        width: 100%;
        margin-bottom: 15px;
    }

    .navbar-brand {
        font-size: 22px;
    }

    .search_form .form-control {
        font-size: 16px;
    }

    .search_form .form-control::placeholder {
        font-size: 22px;
    }

    .search_form .submit,
    .search_form .btn-close {
        padding: 0;
    }

    .search-icon:before {
        height: 18px;
        width: 18px;
    }

    .search_form .btn-close {
        font-size: 20px;
        padding-left: 10px;
        line-height: 1.5;
    }

    .blog-article .post-comments {
        height: 60px;
        width: 60px;
    }

    .comment-respond p.comment-form-author,
    .comment-respond p.comment-form-email,
    .comment-form-url {
        width: 100%;
        margin-left: 0;
    }

    .error404 .page-content {
        padding: 62px 0;
    }

    body.search .page-content .header-heading,
    .error404 .page-content .header-heading {
        font-size: 22px;
    }

    .error404 .page-content .header-heading p {
        font-size: 90px;
    }

}